%Sans-400 {
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
}
%Sans-600 {
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
}
%Sans-700 {
    font-family: "OpenSans", sans-serif;
    font-weight: 700;
}
%Sans-800 {
    font-family: "OpenSans", sans-serif;
    font-weight: 800;
}