%Poppins-700 {
    font-family: 'Poppins-700', sans-serif;
    font-weight: 700;
}

%Poppins-600 {
    font-family: 'Poppins-600', sans-serif;
    font-weight: 600;
}

%Poppins-500 {
    font-family: 'Poppins-500', sans-serif;
    font-weight: 500;
}

%Poppins-400 {
    font-family: 'Poppins-400', sans-serif;
    font-weight: 400;
}