            @import 'fonts';
            @import 'vars';
            @import 'reset';
            @import 'box-sizing';
            @import 'libs';
            .header,
            .main,
            .footer {
                @extend %Poppins-400;
                font-size: 16px;
                color: #fff;
                background: #130645;
            }
            
            html,
            body {
                height: 100%;
            }
            
            body {
                display: flex;
                flex-direction: column;
            }
            
            main {
                flex-grow: 1;
            }
            
            a {
                color: inherit;
                text-decoration: none;
            }
            
            .container-big {
                max-width: 1315px;
                margin: 0 auto;
                padding: 0 15px;
            }
            
            .container {
                max-width: 1130px;
                margin: 0 auto;
                padding: 0 15px;
            }
            
            .logo-link__img {
                width: 126px;
                height: 33px;
            }
            
            .title {
                @extend %Poppins-600;
                font-size: 36px;
                line-height: 54px;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 16px;
            }
            
            .subtitle {
                @extend %Poppins-400;
                font-size: 18px;
                line-height: 27px;
                text-align: center;
                color: #F0F0F0;
            }
            
            .header {
                background-color: #0C032E;
                padding: 28px 0 19px;
                border-bottom: 1px solid #4024B2;
                &__inner {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            
            .user {
                &-button {
                    border: 2px solid #4426B9;
                    border-radius: 24px;
                    background-color: transparent;
                    width: 42px;
                    height: 42px;
                    cursor: pointer;
                    &:hover {
                        background: linear-gradient(180deg, #4125B6 0%, #7357EC 100%);
                    }
                }
                &-nav {
                    display: flex;
                    align-items: center;
                    &__pic {
                        margin-left: 3px;
                    }
                    &__item {
                        display: flex;
                        align-items: center;
                    }
                    &__item+.user-nav__item {
                        margin-left: 32px;
                    }
                    span {
                        @extend %Poppins-500;
                        font-size: 6px;
                        text-transform: lowercase;
                        border: 1px solid #4326B8;
                        border-radius: 12px;
                        padding: 1px 8px 2px;
                        margin-left: 3px;
                    }
                }
            }
            
            .presentation {
                &__inner {
                    margin-right: -160px;
                    padding-top: 95px;
                    padding-bottom: 213px;
                    background-image: url(../images/presentation-bcg.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &__title {
                    @extend %Poppins-600;
                    font-size: 48px;
                    line-height: 65px;
                    background: linear-gradient( rgba(88, 245, 242, 1), rgba(95, 57, 255, 1));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-bottom: 16px;
                    &-descr {
                        display: block;
                        color: rgba(240, 240, 240, 1);
                        font-size: 18px;
                        margin-bottom: 54px;
                    }
                }
                &__btn+.presentation__btn {
                    margin-left: 16px;
                }
            }
            
            .link-btn {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 3px solid rgba(64, 36, 178, 0.3);
                background: rgba(64, 36, 178, 0.3);
                border-radius: 12px;
                color: #fff;
                width: 215px;
                height: 48px;
                font-size: 16px;
                line-height: 24px;
                @extend %Poppins-400;
                &:hover {
                    background: linear-gradient(180deg, #4125B6 0%, #7357EC 100%);
                }
            }
            
            .currency {
                position: relative;
                margin-bottom: 135px;
                &-box {
                    margin-top: -30px;
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    &__item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-image: url(../images/currency-bcg.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 247px;
                        height: 116px;
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(110%)
                        }
                    }
                }
                &__name {
                    font-size: 14px;
                    text-transform: uppercase;
                    color: rgba(255, 255, 255, 0.7);
                    margin-bottom: 5px;
                }
                &__rate {
                    font-size: 14px;
                    color: #27AB33;
                    text-transform: capitalize;
                    &--down {
                        color: #FF3035;
                    }
                }
                &__cost {
                    @extend %Poppins-600;
                    font-size: 24px;
                    line-height: 36px;
                    text-transform: capitalize;
                }
            }
            
            .chat {
                position: absolute;
                right: -80px;
                top: 45px;
                background-color: transparent;
                width: 56px;
                height: 56px;
                background: rgba(64, 36, 178, 0.3);
                border: 2px solid #4024B2;
                border-radius: 32px;
                cursor: pointer;
                &:hover {
                    background: linear-gradient(180deg, #4125B6 0%, #7357EC 100%);
                }
            }
            
            .slider {
                margin-bottom: 156px;
                position: relative;
                &__img {
                    &-item {
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(95%);
                        }
                    }
                }
                .slick-arrow {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                    font-size: 0;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 2px solid #4024B2;
                    width: 48px;
                    height: 48px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 24px;
                    cursor: pointer;
                    transition: all 0.5s;
                    &:hover {
                        box-shadow: 0px 0px 15px 5px #4024b2;
                    }
                }
                .slick-next {
                    z-index: 2;
                    right: -65px;
                    background-image: url(../images/Icons/arrow-next.svg);
                }
                .slick-prev {
                    z-index: 2;
                    left: -70px;
                    background-image: url(../images/Icons/arrow-prev.svg);
                }
                &__text {
                    margin-top: 10px;
                    color: rgba(255, 255, 255, 0.5);
                    &-link {
                        @extend %Poppins-600;
                        color: #fff;
                        margin-left: 16px;
                        background-image: url(../images/Icons/arrow-next.svg);
                        background-position: right;
                        background-repeat: no-repeat;
                        background-size: 14px;
                        padding-right: 15px;
                    }
                }
            }
            
            .buy {
                &__inner {
                    padding-top: 59px;
                    padding-bottom: 105px;
                    display: flex;
                    justify-content: space-between;
                }
                &-item {
                    text-align: center;
                    max-width: 229px;
                    width: 100%;
                    &__img {
                        margin-bottom: 16px;
                    }
                    &__title {
                        @extend %Poppins-700;
                        font-size: 20px;
                        line-height: 60px;
                    }
                    &__descr {
                        color: rgba(255, 255, 255, 0.7);
                        line-height: 25px;
                        max-width: 210px;
                    }
                }
            }
            
            .way {
                padding-bottom: 105px;
                &__inner {
                    padding-top: 54px;
                    display: flex;
                    justify-content: space-between;
                }
                &-item {
                    height: 266px;
                    max-width: 522px;
                    width: 100%;
                    background-image: url(../images/way-item.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    text-align: center;
                    padding: 32px 10px 45px;
                    &__title {
                        font-size: 18px;
                        line-height: 27px;
                    }
                    &__subtitle {
                        @extend %Poppins-600;
                        font-size: 28px;
                        line-height: 42px;
                        margin-bottom: 16px;
                    }
                    &__descr {
                        color: rgba(255, 255, 255, 0.7);
                        margin-bottom: 32px;
                        line-clamp: 3;
                        overflow: hidden;
                        box-orient: vertical;
                        text-overflow: ellipsis;
                    }
                    &__btn {
                        transition: all 0.5s;
                        background: linear-gradient(180deg, #4125B6 0%, #7357EC 100%);
                        &:hover {
                            transform: scale(105%);
                        }
                    }
                }
            }
            
            .adventage {
                padding-bottom: 105px;
                &__inner {
                    padding-top: 55px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 60px;
                }
                &-box {
                    max-width: 277px;
                    width: 100%;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        background-image: url(../images/border.svg);
                        height: 122px;
                        width: 2px;
                        right: -50px;
                        top: 30%;
                    }
                    &:last-child::after {
                        display: none;
                    }
                    &__title {
                        @extend %Poppins-700;
                        font-size: 20px;
                        line-height: 30px;
                        margin-bottom: 22px;
                    }
                    &__descr {
                        line-height: 24px;
                    }
                }
                &__btn {
                    margin: 0 auto;
                    display: flex;
                    max-width: 286px;
                    width: 100%;
                    height: 58px;
                    background: linear-gradient(180deg, #4125B6 0%, #7357EC 100%);
                    transition: all 0.5s;
                    &:hover {
                        transform: scale(105%);
                    }
                }
            }
            
            .products {
                &__inner {
                    padding-top: 99px;
                    display: flex;
                    justify-content: space-between;
                }
                &-box {
                    background-image: url(../images/products-box-bcg.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    max-width: 329px;
                    width: 100%;
                    height: 396px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    &__img {
                        margin-top: -215px;
                    }
                    &__title {
                        @extend %Poppins-700;
                        font-size: 20px;
                        line-height: 60px;
                    }
                    &__descr {
                        line-height: 24px;
                        color: rgba(255, 255, 255, 0.7);
                        max-width: 202px;
                    }
                }
            }
            
            .money {
                padding-top: 155px;
                padding-bottom: 105px;
                background-image: url(../images/Icons/money-bcg.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                &__inner {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                &-img {
                    margin-bottom: 24px;
                }
                &-box {
                    padding-top: 70px;
                    padding-bottom: 70px;
                    display: flex;
                    justify-content: space-between;
                }
                &__link-btn {
                    width: 244px;
                }
                &__link-btn+.money__link-btn {
                    margin-left: 105px;
                }
            }
            
            .link-btn__img {
                margin-right: 12px;
            }
            
            .social {
                display: flex;
                &-items+.social-items {
                    margin-left: 32px;
                }
                &-items {
                    transition: all 0.3s;
                    &:hover {
                        transform: scale(110%) rotate(360deg);
                    }
                }
            }
            
            .footer {
                background-color: rgba(12, 3, 46, 1);
                &__inner {
                    padding: 65px 0;
                    display: flex;
                    justify-content: space-between;
                }
                &__logo {
                    max-height: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                &__date {
                    color: rgba(255, 255, 255, 0.5);
                }
                &-list {
                    max-width: 219px;
                    &__title {
                        text-transform: uppercase;
                        @extend %Poppins-700;
                        font-size: 20px;
                        line-height: 30%;
                        margin-bottom: 24px;
                    }
                    &__items {
                        line-height: 24px;
                    }
                    &__items+.footer-list__items {
                        margin-top: 9px;
                    }
                }
                &__bottom {
                    border-top: 1px solid #4125B6;
                    padding: 24px 0;
                    &-list {
                        display: flex;
                        justify-content: center;
                        &__items+.footer__bottom-list__items {
                            margin-left: 24px;
                        }
                        &__items {
                            position: relative;
                            &::before {
                                content: "";
                                position: absolute;
                                width: 1px;
                                height: 21px;
                                background-color: rgba(255, 255, 255, 0.5);
                                left: -12px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                            &:first-child::before {
                                display: none;
                            }
                        }
                    }
                }
            }